* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #a19d9d;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  text-align: center;
  margin: 0;
}

header {
    background: #333 url(./ai-generated-8291097_1280.png);
    height: 100vh;
    text-align: center;
    padding: 2rem;
    padding-left: 15rem;
    color: bisque;
    
  }

  header h1:hover{
    transition: all 0.5s easy-in-out;
    transform: perspective(100pa) translate3d(20px, 20px, 20px);
  }
    


  
 
  

  nav{
    border-top:   hwb(246 15% 35%) solid 4px;
  color: white;
  text-align: center;
  position: sticky;
  li {
    display: inline-block;
    padding: auto;
  }
  .button {
    background-color: rgb(73, 14, 121);
    border-radius: 20%;
    border: 5px black solid;
    color: rgb(253, 252, 252);
    padding: 10px 10px;
    margin: 4px 2px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
  }
}
.button:hover{
  background-color: white;
  color: rgb(87, 6, 50);
}
